$sprite: url(../images/sprite.png);

$color-1: #fff;
$color-2: #33ffff;
$color-3: #055279;
$color-4: #444;
$color-5: #ff4539;
$color-6: #41c7f5;
$color-7: #828282;
$color-8: #fcb314;
$color-9: #ef8100;
$color-10: #7cd9f8;
$color-11: #333;
$color-12: #1d1d1d;
$color-13: #0c2577;
$color-14: #c4d82d;
$color-15: #b30a3c;
$color-16: #666;
$color-17: #999;
$color-18: #969696;
$color-19: #83dbf8;