<div class="shell-wrapper choose-category sky" data-ie-content-height>
    <div class="shell shell-1"><b class="landscape-line"></b>
        <b class="second-bg"></b>
        <div class="content">
            <!-- Right menu button -->
            <div class="control-panel" ng-include="'/views/menu-button.html'"></div>
            <!-- End menu button -->
            <p class="label ff-2 fs-33 color-1 bold italic ta-c">Select a game category</p>
            <ul class="list">
                <li class="item" data-ng-repeat="category in categories">
                    <a class="button color-1 bold ff-1" href="" data-ng-class="{disabled: !category.active}" data-ng-click="chooseCategory(category);">
                        <div class="left">
                        </div>
                        <span class="content ta-l fs-29">{{category.title}}</span>
                        <div class="right">
                            <img class="img" data-ng-src="/static/images/{{category.icon}}" alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="shell shell-2"><b class="menu-bg"></b>
        <div class="content">
            <ul class="list" ng-include="'/views/right-menu.html'"></ul>
        </div>
    </div>
</div>