<div class="shell-wrapper lander" data-ie-content-height>
    <div class="shell shell-1"><b class="landscape-line"></b>
        <b class="second-bg"></b>
        <div class="content">
            <img class="logo" alt="" src="../images/logo.png">
            <div class="social">
                <ul class="list">
                    <li class="item">
                        <a class="link" data-ng-click="shareLink('fb')">
                            <img class="img" src="/images/fb.png">
                        </a>
                    </li>
                    <li class="item">
                        <a class="link" data-ng-click="shareLink('tw')">
                            <img class="img" src="/images/tw.png">
                        </a>
                    </li>
                    <li class="item">
                        <a class="link" data-ng-click="shareLink('in')">
                            <img class="img" src="/images/in.png">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <h1 class="page-title ff-2 lh-2 fs-58 bold italic color-1">
                The Great
                <br>
                Mobile Challenge!
            </h1>
            <p class="main-text ff-1 fs-32 color-1">
                Play and compete to flex your Enterprise Mobility expertise
            </p>
            <div class="button-wrapper">
                <a class="button ff-1 fs-39 bold color-1 ta-c" data-ng-click="goToRegistration();" hover="">
                    <span class="content">Register and play</span>
                </a>
                <div class="additional-wrapper ta-r">
                    <a class="additional-link ff-1 color-2 bold fs-25 underline-none" data-ng-click="goToSignIn()" href="">Already registered?</a>
                </div>
            </div>
        </div>
        <div class="bottom-page" data-bottom-page-style ng-include="'/views/copyright.html'"></div>
    </div>
    <div class="shell shell-2"><b class="menu-bg"></b>

    </div>
</div>
